.HidePassword{
  /* background-color: #0e78ce; */
  color: #f80053;
  /* padding:.5rem 2rem;
  border-radius: .35rem; */
  cursor: pointer;
  font-weight: 500;
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  transition: all 200ms ease-in-out;
}

.HidePassword:hover{
  color: #ce0749;
}
.PeekPassword{
  /* color: white; */
  /* padding:.5rem 2rem;
  border-radius: .35rem; */
  cursor: pointer;
  font-weight: 500;
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  transition: all 200ms ease-in-out;
}
.PeekPassword:hover{
  color: #570ece;
}